#map

#search-panel.panel.panel-default.pull-right
  .panel-heading
    %h3.panel-title IMIQ Search
  .panel-body
    = form_tag '/search', remote: true, role: 'form', class: 'form-horizontal' do
      .form-group
        = label_tag :q, 'Keywords', class: 'control-label col-lg-3'
        .col-lg-9
          = text_field_tag :q, params[:q], class: 'form-control'
      
      = submit_tag 'Search', class: 'btn btn-primary pull-right'

:javascript
  var map = new Map('map')