.container
  %h2 Welcome to the IMIQ Project

  %p
    Seamlessly myocardinate exceptional metrics for tactical applications. Credibly fashion economically sound ideas via maintainable information. Objectively recaptiualize principle-centered models without competitive applications. Enthusiastically whiteboard market positioning infrastructures vis-a-vis premier supply chains. Credibly maximize compelling core competencies and proactive e-business. Seamlessly communicate team building paradigms after emerging metrics.

  .row
    .col-lg-4.col-lg-offset-4
      = link_to maps_path, class: 'btn btn-success btn-block', style: 'font-size: 30px;' do
        Click here to Explore
        %i.glyphicon.glyphicon-arrow-right