%br/

.container
  .row
    .col-sm-8.col-sm-offset-2.text-center
      .alert.alert-info
        %h2{ style: 'margin-top: 0px; padding-top: 0px;' }
          You must be logged in to view this page, you will be automatically redirected to the GINA::ID login page.

        %br/

        %h4
          If you are not redirected within 5 seconds please click the button below

        %p
          = link_to login_path, class: 'btn btn-primary btn-lg' do
            Login

:javascript
  $(document).ready(function(){
    setTimeout(function() {
      window.location.href = "#{login_path}"
      }, 5000);
    });
