%h1 News

.panel.panel-default
  .panel-heading.panel-title
    Got Data?
    .pull-right
      Oct 6, 2016

  .panel-body
    Please contact us at:
    = link_to 'imiq@arcticlcc.org'

.panel.panel-default.panel-danger
  .panel-heading.panel-title
    There are known errors in some of the NPS RAWS station temperature data.
    .pull-right
      Oct 6, 2016
  .panel-body
    We are working to correct those soon.