%h1 Resources

%h4 Contacts
%p
  Have any new data, or suggestions contact the Arctic LCC: 
  = mail_to 'imiq@arcticlcc.org'
%p 
  For bug reports and other support contact GINA: 
  = mail_to 'support@gina.alaska.edu'
  
%h4 The Imiq Hydroclimate Database
%p
  The Imiq Hydroclimate database houses hydrologic, climatologic, and soils
  data collected in Alaska and Western Canada from the early 1900s to the present.
  This database unifies and preserves numerous data collections that have, 
  until now, been stored in field notebooks, on desktop computers, as well as
  in disparate databases.  Synthesizing and analyzing the large-scale hydroclimate
  characteristics of this important climatic region have been made easier with this
  searchable database. Data is made accessible via the Imiq API.
  
%h4 Imiq API
%p
  The <a href=http://imiq-api.gina.alaska.edu'>Imiq application programming interface (API)  </a>
  provides access to the database for users and developers to create their own tools
  for retriving data.  The Imiq Map is built on top of the API. 

%h4 Data Quality Assurance/Quality Control
%p
  Data have not been subjected to QA/QC after receipt from the source, except for broad, variable-specific thresholds. Data may have been altered from their original form as part of normalization into the database and any data flagged by their source as questionable were omitted. Please examine the documentation automatically downloaded with the data and use data at your own risk.

%h4 How to Cite the Data
%p
  Please cite both the data originator and the Imiq Data Portal.  In many cases,
  data may be changed from their original units or averaged across time periods.
  The metadata pertaining to the originator will be downloaded with the data.  The 
  Imiq Data Portal should be cited as:
%p
  Cherry, Jessica, Amy Jacobs, Tom Heinrichs, Will Fisher, Jennifer Delamere, 
  Cheryl Haase, Philip Martin, Josh Bradley, Jennifer Jenkins, Jess Grunblatt, 
  Greg Balogh, Rawser Spicer, Jason Grimes. Imiq Hydroclimate Database at the University of Alaska Fairbanks. 
  http://arcticlcc.org/projects/imiq/, accessed on [Date accessed].

%h4 Project Partners
%p
  Construction of the Imiq Hydroclimate Database and the Imiq Data Portal 
  was funded by the Arctic Landscape Conservation Cooperative (LCC) and 
  the U.S. Fish and Wildlife Service. Development of the Imiq Data Portal 
  was funded by the Arctic LCC and the North Slope Science Initiative and 
  implemented by the Geographic Information Network of Alaska (GINA). Data 
  were contributed from many agencies and investigator-driven research 
  projects.

%h4 Notice of Nondiscrimination
%p The University of Alaska is an affirmative action/equal opportunity employer and educational institution.  The University of Alaska does not discriminate on the basis of race, religion, color, national origin, citizenship, age, sex, physical or mental disability, status as a protected veteran, marital status, changes in marital status, pregnancy, childbirth or related medical conditions, parenthood, sexual orientation, gender identity, political affiliation or belief, genetic information, or other legally protected status. The University's commitment to nondiscrimination, including against sex discrimination, applies to students, employees, and applicants for admission and employment. Contact information, applicable laws, and complaint procedures are included on UA's statement of nondiscrimination available at <a href='https://www.alaska.edu/nondiscrimination'>www.alaska.edu/nondiscrimination </a>.



