%h1 Imiq database statistics

%dl.dl-horizontal{ style: 'font-size: 1.5em;'}
  %dt Data values
  %dd 954,975,920
  %dt Parameters
  %dd= imiq_api.statistics['parameters']
  %dt Sources
  %dd= imiq_api.statistics['sources']
  %dt Networks
  %dd= imiq_api.statistics['networks']

%h4 Last updated on 1/5/2017
