/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require leaflet/leaflet
 *= require leaflet.draw/dist/leaflet.draw
 *= require leaflet.markercluster/dist/MarkerCluster.css 
 *= require leaflet.markercluster/dist/MarkerCluster.Default.css 
 *= require bootstrap/dist/css/bootstrap
 *= require_self
 *= require_tree .
 */


html, body { 
  height: 100%;
  padding:0;
  margin:0;
  position: relative;
}

#header {
  height: 42px;
  margin:0;
  padding:0;
  padding-top: 4px;
  padding-left: 10px;
  padding-right: 10px;
  background-color: #133766;
}

#header h1 {
  margin: 0;
  padding: 0;
  font-size: 30px;
  color: #fff;
}

#footer {
  position: absolute;
  bottom: 0;
  height: 25px;
  margin: 0;
  padding: 0;
  padding-right: 10px;
  width: 100%;
  background-color: #000;
  color: #fff;
}

#content {
  position: absolute;
  top: 0;
  bottom: 25px;
  width: 100%;
}