/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require mapbox.js/mapbox.css
 *= require leaflet.draw/dist/leaflet.draw
 *= require leaflet.markercluster/dist/MarkerCluster.css
 *= require leaflet.markercluster/dist/MarkerCluster.Default.css
 *= require Leaflet.Coordinates/dist/Leaflet.Coordinates-0.1.3
 *= require bootstrap/dist/css/bootstrap
 *= require eonasdan-bootstrap-datetimepicker/build/css/bootstrap-datetimepicker
 *= require fontawesome/css/font-awesome
 *= require_self
 *= require_tree .
 */


html, body {
  height: 100%;
  padding:0;
  margin:0;
  position: relative;
}

#footer {
  position: absolute;
  bottom: 0;
  height: 25px;
  margin: 0;
  padding: 0;
  padding-right: 10px;
  width: 100%;
  background-color: #000;
  color: #fff;
}

#map_content {
  overflow: hidden;
  position: absolute;
  top: 0px;
  bottom: 50px;
  width: 100%;
}

#header .navbar {
  margin-bottom: 0;
}

#flash_messages {
  position: fixed;
  top: 10px;
  left: 50%;
  margin-left: -300px;
  width: 350px;
  z-index: 10000;
}
