// Place all the styles related to the graphs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.graph {
  .loading {
    font-size: 12px;
    text-align: center;
    color: #f00;
    margin-top: 100px;
    height: 100px;    
  }
}

.graph_iframe {
  height: 400px;
  width: 100%;
  border: none;
}