.modal.fade
  .modal-dialog.modal-lg
    .modal-content
      .modal-header
        %button.close{ type: "button", data: { dismiss: "modal" } }
          &times;

        %h4.modal-title
          Sites Export
      %iframe{ src: sites_path, style: 'width: 100%; height: 500px; border: none;' }

      .modal-footer
        = link_to 'Export', sites_path(format: :csv), class: 'btn btn-primary'
        %button.btn.btn-default.pull-left{ type: "button", data: { dismiss: "modal" } }
          Close
