.modal.fade
  .modal-dialog
    .modal-content
      .modal-header
        %button.close{ type: "button", data: { dismiss: "modal" } }
          &times;
          
        %h4.modal-title
          Export Value-Added Products
      .modal-body
        - @download_urls.each do |time_period, url_list|
          %h4= time_period.humanize
          %ul.nav
            - url_list.each do |name,url|
              %li= link_to name.humanize, url

      .modal-footer
        %button.btn.btn-default{ type: "button", data: { dismiss: "modal" } }
          Close