#download_status.modal.fade
  .modal-dialog
    .modal-content
      .modal-header
        %button.close{ type: "button", data: { dismiss: "modal" } }
          &times;
            
        %h4.modal-title
          Download Status
      .modal-body
        = render @export