%nav.navbar.navbar-default.navbar-fixed-top.header-navbar
  .container-fluid
    .navbar-right
      .header-link
        = link_to 'Project Home', 'http://arcticlcc.org/projects/imiq/'
    .header-title
      = image_tag 'SetHeight50-imiqlogonotext.png'
      Imiq Data Portal
